---
layout: default
---
<div class="post">

  <header class="post-header">
    {% include tweet.html %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <br />
    <br />
    <b>tl;dr</b> <blockquote class="tldr">{{ page.tldr }}</blockquote>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <div class="post-scriptum">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    <span>Found a typo ?</span> <a href="https://github.com/docteurklein/docteurklein.github.io/edit/master/_posts/{{ page.url | remove_first:'/' | replace_first:'/','-' | replace_first:'/','-' |replace_first:'/','-' | remove:'/' }}.md">fix it fix it fix it :)</a>
    {% include tweet.html %}
  </div>

</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ site.disqus_username }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
